/* Tecnologia Web- Plantilla CSS del portal de asignación */
/* Puede usar #HEX o nombres de colores */
/* * es un comodín que se refiere a todos los elementos. */

/* { margin: 0; box-sizing: border-box; } */

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:Ubuntu,sans-serif;
    color:#f8f8f8;
}

h1 {
    font-family:fantasy;
    font-size: 2rem;
    color:#070607;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px solid rgb(255, 250, 250);
}

header, main, footer {
    font-family:cursive;
    background-color:#0e0b0bcc;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 600px;
}

header, footer, footer a {

    text-align: center;
    background-color:#0c6ff0;
    color: rgb(248, 247, 247);
}

header img {
    width: 180px;
    height: auto;
    float: right;
    border: #070607 solid 10px;
}

footer {
    font-size: 0.75rem;
}
